<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Todo List by GIQUE </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/styles.css" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function(){
            $("#editForm").on('show.bs.modal', function(event){
                var button = $(event.relatedTarget); 
                var titleData = button.data('title');
                $(this).find('.modal-title').text(titleData + ' Form');

                var id = button.data('id');
                var status = button.data('status');
                var important = button.data('important');
                var task = button.data('task');
                var duedate = button.data('duedate');
                var lineid = button.data('lineid');
                
                $(this).find('#id').val(id);
                $(this).find('#status').val(status.trim());
                $(this).find('#important').val(important);
                $(this).find('#task').val(task);
                $(this).find('#duedate').val(duedate);
                $(this).find('#lineid').val(lineid);
            });

            $("#completedForm").on('show.bs.modal', function(event){
                var check = $(event.relatedTarget);
                var titleData = check.data('title');
                var module = check.data('module');
                var id = check.data('id');
                var status = check.data('status');
                var nextStatus = status;
                var important = check.data('important');
                var nextImportant = important;
                var task = check.data('task');
                var duedate = check.data('duedate');
                var lineid = check.data('lineid');

                if(module == 'changeStatus'){
                    nextStatus = (status.trim() == 'incomplete' ? 'completed' : 'incomplete')
                    $(this).find('.control-label-multi').text('You want to change status from:');
                    $(this).find('.current-val').text('"' + status.trim() + '"');
                    $(this).find('.next-val').text('"' + nextStatus.trim() + '"');
                } else if(module == 'makeImportant'){
                    nextImportant = (important == '0' ? '1' : '0')
                    var currentTextImportant = (important == '0' ? 'normal' : 'important')
                    var nextTextImportant = (nextImportant == '0' ? 'normal' : 'important')

                    $(this).find('.control-label-multi').text('You want make this task from:');
                    $(this).find('.current-val').text('"' + currentTextImportant + '"');
                    $(this).find('.next-val').text('"' + nextTextImportant + '"');
                }
                
                $(this).find('.modal-title').text(titleData);
                $(this).find('#id').val(id);
                $(this).find('#status').val(nextStatus.trim());
                $(this).find('#important').val(nextImportant);
                $(this).find('#task').val(task);
                $(this).find('#duedate').val(duedate);
                $(this).find('#lineid').val(lineid);
            });
        });
    </script>
  </head>
<body>
    <div class="container">
            <div class="row">
                <section class="content">
                    <h1>Edit todo list of <%= user_name %></h1>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-container">
                                    <table class="table table-filter">
                                        <tbody>
                                            <% for( var i = 0; i < todo.length; i++){ %>
                                                <tr>
                                                    <td>
                                                        <div class="ckbox">
                                                            <input type="checkbox" id="<%= todo[i].id %>" a href="#completedForm" data-toggle="modal" data-title="Do you want to change status" data-module="changeStatus" data-task="<%= todo[i].task %>" data-duedate="<%= todo[i].dueDate %>" data-id="<%= todo[i].id %>" data-status="<%= todo[i].status.trim() %>" data-important="<%= todo[i].important %>" data-lineid="<%= todo[i].lineId %>" <% if (todo[i].status.trim() == 'completed') { %> checked <% } %>>
                                                            <label for="<%= todo[i].id %>"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="#completedForm" class="star <% if (todo[i].important == 1) { %> star-checked <% } %>" data-toggle="modal" data-title="Do you want to pin this task?" data-module="makeImportant" data-task="<%= todo[i].task %>" data-duedate="<%= todo[i].dueDate %>" data-id="<%= todo[i].id %>" data-status="<%= todo[i].status.trim() %>" data-important="<%= todo[i].important %>" data-lineid="<%= todo[i].lineId %>">
                                                            <i class="glyphicon glyphicon-star"></i>
                                                        </a>
                                                    </td>
                                                    <td data-status="<%= todo[i].status %>" a href="#editForm" data-title="Edit todo list" data-task="<%= todo[i].task %>" data-duedate="<%= todo[i].dueDate %>" data-id="<%= todo[i].id %>" data-status="<%= todo[i].status.trim() %>" data-important="<%= todo[i].important %>" data-lineid="<%= todo[i].lineId %>" data-toggle="modal">
                                                        <div class="media">
                                                            <a href="#" class="pull-left">
                                                                <img src="<%= profile_pic %>" class="media-photo">
                                                            </a>
                                                            <div class="media-body">
                                                                <span class="media-meta pull-right">Created: <%= todo[i].createdAt %> </span>
                                                                <h4 class="title">
                                                                    <%= todo[i].dueDate %>
                                                                    <span class="pull-right <%= todo[i].status %>">(<%= todo[i].status.trim() %>)</span>
                                                                </h4>
                                                                <p class="summary"><%= todo[i].task %></p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="content-footer">
                            <p>
                                Todo list © - 2018 <br>
                                Powered By <a href="https://www.medium.com/@iamgique" target="_blank">iamGique</a>
                            </p>
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
  
        <div class="bs-example">
            <!-- Modal HTML Form-->
            <div id="editForm" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Modal Window</h4>
                        </div>
                        <form action ="/edit" method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="id" name="id" />
                                    <input type="hidden" class="form-control" id="lineid" name="lineId" />
                                    <input type="hidden" class="form-control" id="important" name="important" />
                                    <label for="duedate" class="control-label">Due Date:</label>
                                    <input type="text" class="form-control" id="duedate" name="dueDate" />
                                </div>
                                <div class="form-group">
                                    <label for="status" class="control-label">Status:</label>
                                    <select class="form-control" id="status" name="status">
                                        <option value="incomplete">incomplete</option>
                                        <option value="completed">completed</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="task" class="control-label">Task:</label>
                                    <textarea class="form-control" id="task" name="task"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="bs-example">
            <!-- Modal HTML Form-->
            <div id="completedForm" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Modal Window</h4>
                        </div>
                        <form action ="/edit" method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="id" name="id" />
                                    <input type="hidden" class="form-control" id="lineid" name="lineId" />
                                    <input type="hidden" class="form-control" id="important" name="important" />
                                    <input type="hidden" class="form-control" id="duedate" name="dueDate" />
                                    <input type="hidden" class="form-control" id="status" name="status" />
                                    <textarea class="form-control" id="task" name="task" style="display:none;"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="control-label-multi">Wating...</label>
                                    <label class="current-val">current</label>
                                    <label class="control-label"> to </label>
                                    <label class="next-val">next</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
 
        
</body>
</html>